# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Serverless webpack
.webpack

# Jest coverage
coverage

# Env varuables
env.yml

# Log folder
log

# Mongodb data db store directory
docker/mongo/data/db/*
!docker/mongo/data/db/.gitkeep
